src/main/wsdl/AuthenticationManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://authentication.v81.api.keysurvey.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://authentication.v81.api.keysurvey.com" name="AuthenticationManagement">
<types>
<xsd:schema>
<xsd:import namespace="http://v81.api.keysurvey.com" schemaLocation="AuthenticationManagementService.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://authentication.v81.api.keysurvey.com" schemaLocation="AuthenticationManagementService2.xsd"/>
</xsd:schema>
</types>
<message name="logoutByToken">
<part name="parameters" element="tns:logoutByToken"/>
</message>
<message name="logoutByTokenResponse">
<part name="parameters" element="tns:logoutByTokenResponse"/>
</message>
<message name="WSIllegalArgumentException">
<part xmlns:ns1="http://v81.api.keysurvey.com" name="fault" element="ns1:WSIllegalArgumentException"/>
</message>
<message name="WSInternalServerException">
<part xmlns:ns2="http://v81.api.keysurvey.com" name="fault" element="ns2:WSInternalServerException"/>
</message>
<message name="WSSecurityException">
<part xmlns:ns3="http://v81.api.keysurvey.com" name="fault" element="ns3:WSSecurityException"/>
</message>
<message name="getAuthenticationToken">
<part name="parameters" element="tns:getAuthenticationToken"/>
</message>
<message name="getAuthenticationTokenResponse">
<part name="parameters" element="tns:getAuthenticationTokenResponse"/>
</message>
<portType name="AuthenticationManagementService">
<operation name="logoutByToken">
<input message="tns:logoutByToken"/>
<output message="tns:logoutByTokenResponse"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
</operation>
<operation name="getAuthenticationToken">
<input message="tns:getAuthenticationToken"/>
<output message="tns:getAuthenticationTokenResponse"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
</operation>
</portType>
<binding name="AuthenticationManagementServicePortBinding" type="tns:AuthenticationManagementService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="logoutByToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
</operation>
<operation name="getAuthenticationToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AuthenticationManagement">
<port name="AuthenticationManagementServicePort" binding="tns:AuthenticationManagementServicePortBinding">
<soap:address location="http://bdkformdev3.cloudapp.net:8080/Member/api/v81/authentication/AuthenticationManagementService"/>
</port>
</service>
</definitions>